<ul class="nav">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{% url 'login' %}">login</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'contact_us' %}">conatact</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" aria-disabled="true">02</a>
    </li>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">logout</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'change_pass' %}">change password</a>
    </li>
</ul>